* {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

img {
  border: none; }

a {
  text-decoration: none; }

body {
  font-size: 12px; }

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5; }

#header {
  width: 100%;
  height: 32px;
  background: #f9f9f9;
  border-bottom: 1px solid #eee;
  line-height: 32px; }
  #header span {
    width: 108px;
    margin-left: 42px; }
  #header ul {
    height: 32px;
    display: inline-block;
    float: right;
    position: relative;
    z-index: 10; }
    #header ul li {
      width: 100px;
      float: left;
      height: 32px;
      border-left: 1px solid #f9f9f9;
      border-right: 1px solid #f9f9f9;
      border-bottom: 1px solid #eee;
      text-align: center;
      background: #f9f9f9 url("../images/index/arrow-bottom.png") no-repeat center right; }
      #header ul li:hover {
        background: #fff url("../images/index/arrow-top.png") no-repeat center right; }
      #header ul li img {
        position: relative;
        top: 2px;
        margin-right: 2px; }
      #header ul li a {
        color: #666; }
        #header ul li a:hover {
          color: red; }
      #header ul li dl {
        display: none;
        width: 90px; }
        #header ul li dl dd {
          background: #fff; }
          #header ul li dl dd:hover {
            background: #e8e8e8; }
    #header ul .header-nav {
      width: 90px; }
    #header ul .li6 {
      background-image: none;
      background: none; }
      #header ul .li6:hover {
        background: none; }

#search {
  height: 65px;
  padding-left: 44px;
  padding-top: 20px;
  position: relative;
  z-index: 5; }
  #search img, #search .txt, #search .form, #search .form button, #search .form ul li {
    float: left; }
  #search img {
    display: block; }
  #search .click {
    background: red;
    color: #FFF; }
  #search .form {
    position: relative;
    top: -15px;
    height: 50px;
    z-index: 0;
    margin-left: 155px; }
    #search .form span {
      display: inline-block;
      width: 30px;
      text-align: center;
      cursor: pointer; }
    #search .form button {
      float: left;
      width: 72px;
      height: 40px;
      background: #d93738 url("../images/index/fangdajing.png") no-repeat center center;
      border: none;
      margin-bottom: 5px; }
  #search .txt {
    width: 374px;
    height: 32px;
    border: 4px solid #d93738; }
  #search .ul {
    position: absolute;
    bottom: -23px; }
  #search ul li a {
    color: #7d6666;
    padding: 0 2px; }
  #search .right {
    float: right; }
    #search .right li {
      float: left;
      font-size: 16px; }
    #search .right .li1 {
      width: 90px;
      height: 55px;
      position: relative; }
    #search .right .li2 {
      height: 55px;
      border-left: 1px solid #eee;
      margin-right: 20px; }
    #search .right img {
      position: absolute; }
    #search .right a {
      position: absolute;
      bottom: 0; }
    #search .right span {
      position: absolute;
      width: 20px;
      height: 20px;
      text-align: center;
      font-weight: bold;
      color: #ffffff;
      border-radius: 10px;
      background: #ccc;
      left: 50%; }

.adver {
  height: 0;
  width: 100%; }

#nav {
  width: 100%;
  height: 686px; }
  #nav .nav {
    height: 35px;
    background: #c12324;
    padding-left: 27px;
    position: relative; }
    #nav .nav li {
      float: left;
      padding: 0 30px;
      font: bold 16px/35px "arial";
      cursor: pointer;
      color: #FFF;
      background: #c12324; }
      #nav .nav li:hover {
        background: #ac1010; }
      #nav .nav li a {
        color: #FFF; }
        #nav .nav li a:hover {
          color: #FFF; }
    #nav .nav .li1 {
      width: 225px;
      font-weight: 500;
      padding: 0;
      text-indent: 20px;
      background: #d93637; }
    #nav .nav img {
      position: absolute;
      bottom: 0; }
  #nav .left, #nav .center, #nav .right {
    float: left; }
  #nav .left {
    width: 210px;
    height: 648px;
    margin-left: 27px;
    padding: 0 6px;
    border: 3px solid #ddd;
    border-top: none;
    position: relative; }
    #nav .left .img2 {
      float: right; }
    #nav .left li {
      width: 190px;
      border-bottom: 1px solid #eee;
      padding-top: 6px;
      overflow: hidden;
      font-size: 12px;
      cursor: pointer;
      background: #FFF; }
      #nav .left li:hover {
        background: #eee; }
      #nav .left li img {
        float: left; }
    #nav .left .li1 {
      height: 51px; }
      #nav .left .li1 span {
        line-height: 20px; }
      #nav .left .li1 .div2 {
        clear: both;
        margin-top: 15px; }
        #nav .left .li1 .div2 a {
          padding: 0 4px;
          color: #333333; }
    #nav .left .li2 {
      height: 20px; }
      #nav .left .li2 span {
        position: relative;
        left: 5px; }
      #nav .left .li2 .dot {
        margin-top: 3px; }
    #nav .left .last {
      border: none; }
    #nav .left .message {
      width: 600px;
      height: 650px;
      background: #FFF;
      position: absolute;
      display: none;
      z-index: 1000;
      right: -600px;
      top: 0; }
      #nav .left .message h3 {
        line-height: 25px; }
      #nav .left .message a {
        display: inline-block;
        padding: 0 5px;
        color: #666; }
        #nav .left .message a:hover {
          color: red; }
  #nav .center {
    width: 830px;
    height: 650px; }
    #nav .center .img, #nav .center .img img {
      width: 830px;
      height: 310px; }
    #nav .center .img {
      position: relative; }
      #nav .center .img img {
        position: absolute;
        display: none; }
    #nav .center .img-left, #nav .center .img-right {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      cursor: pointer;
      z-index: 2;
      opacity: 0;
      filter: alpha(opacity=0); }
    #nav .center .img-left {
      background: #ccc url("../images/index/nav-arrowLeft.png") no-repeat;
      left: 0; }
    #nav .center .img-right {
      background: #ccc url("../images/index/nav-arrowRight.png") no-repeat;
      right: 0; }
    #nav .center .img-bottom {
      position: absolute;
      bottom: 10px;
      right: 0; }
      #nav .center .img-bottom li {
        float: left;
        width: 20px;
        height: 20px;
        background: #ccc;
        border-radius: 10px;
        margin-right: 5px;
        cursor: pointer; }
    #nav .center ul .li1 a {
      float: left;
      width: 207px;
      height: 159px; }
    #nav .center ul .li2 a {
      float: left;
      width: 207px;
      height: 180px; }
    #nav .center ul .li2 .a1 {
      height: 70px;
      width: 167px;
      padding: 110px 20px 0 20px; }
      #nav .center ul .li2 .a1 span {
        display: inline-block;
        font-size: 24px;
        color: #2f3a47; }
      #nav .center ul .li2 .a1 .hour, #nav .center ul .li2 .a1 .minutes, #nav .center ul .li2 .a1 .second {
        width: 30px;
        height: 30px;
        background: #2f3a47;
        font: bold 20px/30px "arial";
        color: #fff;
        text-align: center; }
    #nav .center ul .li1 .a1 {
      background: url("../images/index/nav-center1.jpg") no-repeat; }
    #nav .center ul .li1 .a2 {
      background: url("../images/index/nav-center2.jpg") no-repeat; }
    #nav .center ul .li1 .a3 {
      background: url("../images/index/nav-center3.jpg") no-repeat; }
    #nav .center ul .li1 .a4 {
      background: url("../images/index/nav-center4.jpg") no-repeat; }
    #nav .center ul .li2 .a1 {
      background: url("../images/index/nav-center5.jpg") no-repeat; }
    #nav .center ul .li2 .a2 {
      background: url("../images/index/nav-center6.jpg") no-repeat; }
    #nav .center ul .li2 .a3 {
      background: url("../images/index/nav-center7.jpg") no-repeat; }
    #nav .center ul .li2 .a4 {
      background: url("../images/index/nav-center8.jpg") no-repeat; }
  #nav .right {
    width: 236px;
    height: 650px; }
    #nav .right img {
      display: block; }
    #nav .right div {
      border: 1px solid #eee; }
    #nav .right h3 {
      font-size: 12px;
      height: 30px;
      line-height: 30px;
      border-bottom: 2px solid #ccc; }
      #nav .right h3 a {
        color: #8d8d8d;
        padding: 0 5px; }
      #nav .right h3 .more {
        float: right;
        color: #bbb; }
    #nav .right p {
      line-height: 25px; }
      #nav .right p span {
        display: inline-block;
        width: 5px;
        height: 5px;
        background: red;
        margin: 0 10px; }
    #nav .right ul {
      height: 27px;
      line-height: 27px;
      border-bottom: 2px solid #ccc; }
      #nav .right ul a {
        display: inline-block;
        text-align: center;
        width: 55px;
        height: 27px; }
    #nav .right .div4 a {
      display: inline-block;
      width: 52px;
      height: 90px;
      text-align: center;
      line-height: 150px;
      box-shadow: 5px 10px 6px #ccc; }
    #nav .right .div4 .a1 {
      background: url("../images/index/nav-right3_1.jpg") no-repeat center center; }
    #nav .right .div4 .a2 {
      background: url("../images/index/nav-right3_2.jpg") no-repeat center center; }
    #nav .right .div4 .a3 {
      background: url("../images/index/nav-right3_3.jpg") no-repeat center center; }
    #nav .right .div4 .a4 {
      background: url("../images/index/nav-right3_4.jpg") no-repeat center center; }

#hot {
  height: 282px;
  background: #ebebeb;
  padding-left: 27px;
  overflow: hidden; }
  #hot h1 {
    height: 42px;
    line-height: 42px; }
  #hot ul li {
    float: left;
    padding: 0 6px; }

#main {
  height: 5115px;
  padding-left: 27px;
  padding-right: 27px; }
  #main .title {
    height: 62px;
    border-bottom: 2px solid #e8e8e8; }
    #main .title li {
      height: 62px;
      display: inline-block;
      font: bold 14px/100px "arial";
      float: left;
      width: 150px;
      text-align: center;
      margin-right: 2px;
      cursor: pointer;
      color: #666; }
    #main .title .li1 {
      width: 200px;
      border-bottom: 2px solid #ff931b;
      text-align: left;
      text-indent: 15px;
      width: 210px;
      font: bold 20px/90px "arial"; }
    #main .title .li2 {
      border-bottom: 2px solid #ff931b;
      color: #ca3037; }
    #main .title .last {
      width: 65px;
      float: right; }
      #main .title .last a {
        color: #0088cc; }
        #main .title .last a:hover {
          color: red; }
  #main .content {
    width: 1295px;
    height: 400px;
    background: #f8f8f8;
    border-bottom: 2px solid #ccc;
    overflow: hidden; }
    #main .content .list, #main .content .show, #main .content .brand, #main .content .selling {
      float: left;
      height: 400px; }
    #main .content .list {
      width: 210px;
      padding-top: 28px; }
      #main .content .list p {
        font-size: 16px;
        line-height: 20px; }
        #main .content .list p a {
          padding: 0 25px;
          color: #666; }
          #main .content .list p a:hover {
            color: red; }
    #main .content .list1 {
      background: url("../images/index/main-content1.jpg") no-repeat; }
    #main .content .list2 {
      background: url("../images/index/main-content2.jpg") no-repeat; }
    #main .content .list3 {
      background: url("../images/index/main-content3.jpg") no-repeat; }
    #main .content .list4 {
      background: url("../images/index/main-content4.jpg") no-repeat; }
    #main .content .list5 {
      background: url("../images/index/main-content5.jpg") no-repeat; }
    #main .content .list6 {
      background: url("../images/index/main-content6.jpg") no-repeat; }
    #main .content .list7 {
      background: url("../images/index/main-content7.jpg") no-repeat; }
    #main .content .list8 {
      background: url("../images/index/main-content8.jpg") no-repeat; }
    #main .content .list9 {
      background: url("../images/index/main-content9.jpg") no-repeat; }
    #main .content .list10 {
      background: url("../images/index/main-content10.jpg") no-repeat; }
    #main .content .list11 {
      background: url("../images/index/main-content11.jpg") no-repeat; }
    #main .content .show {
      width: 640px;
      border-collapse: collapse;
      box-shadow: 5px 0 6px #ccc; }
      #main .content .show td {
        width: 160px;
        height: 200px; }
      #main .content .show p {
        text-indent: 15px;
        font-size: 14px;
        line-height: 18px; }
      #main .content .show span {
        font-weight: bold;
        color: red; }
    #main .content .brand {
      width: 120px;
      height: 400px;
      padding: 0 10px; }
      #main .content .brand dd {
        width: 115px;
        height: 60px;
        text-align: center;
        background: #fff;
        border-bottom: 1px solid #ccc; }
    #main .content .selling {
      width: 300px;
      height: 400px; }
      #main .content .selling h1 {
        height: 40px;
        line-height: 40px; }
      #main .content .selling .product {
        width: 300px;
        height: 360px;
        background: #FFF; }
      #main .content .selling dd {
        height: 80px;
        padding: 10px 20px 0; }
      #main .content .selling img {
        float: left;
        margin-right: 20px; }
      #main .content .selling p {
        color: #888;
        line-height: 20px; }
      #main .content .selling h3 {
        color: #ca3037; }

#bottom {
  width: 100%;
  height: 340px; }
  #bottom .friendlyLink {
    height: 156px;
    margin: 0 32px;
    border-bottom: 1px solid #ccc;
    padding-left: 25px;
    padding-top: 40px; }
    #bottom .friendlyLink h3 {
      margin-bottom: 10px; }
    #bottom .friendlyLink ul {
      width: 145px;
      height: 136px;
      float: left;
      margin-right: 60px; }
    #bottom .friendlyLink ul li {
      float: left;
      margin-right: 10px; }
      #bottom .friendlyLink ul li p {
        line-height: 20px; }
    #bottom .friendlyLink a {
      color: #666; }
      #bottom .friendlyLink a:hover {
        color: red; }
    #bottom .friendlyLink .big {
      width: 200px;
      margin-right: 0; }
    #bottom .friendlyLink .last img {
      margin-top: 20px; }
  #bottom .final {
    height: 115px; }
    #bottom .final p {
      margin-left: 32px;
      line-height: 25px;
      color: #777; }
  #bottom .div1 {
    height: 46px;
    margin: 0 32px;
    border-bottom: 1px solid #ccc;
    padding-left: 13px;
    padding-top: 14px; }
    #bottom .div1 ul, #bottom .div1 img {
      float: left;
      margin-right: 5px; }
    #bottom .div1 .ul {
      margin-right: 165px; }
      #bottom .div1 .ul img {
        margin-right: 10px; }
      #bottom .div1 .ul li a {
        line-height: 20px;
        padding-right: 5px;
        color: #000; }
        #bottom .div1 .ul li a:hover {
          color: red; }
    #bottom .div1 .ul2 a {
      display: inline-block;
      margin-right: 20px;
      position: relative;
      bottom: 5px; }

#floorNav {
  width: 32px;
  position: fixed;
  top: 150px;
  left: 50px;
  border: 1px solid #ddd;
  display: none; }

#floorNav ul li {
  width: 32px;
  height: 32px;
  border-bottom: 1px dotted #DDDDDD;
  list-style: none;
  font-size: 12px;
  color: #666;
  text-align: center;
  line-height: 32px;
  position: relative;
  cursor: pointer; }

#floorNav ul li span {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0; }

#floorNav ul li span {
  display: none; }

#floorNav ul li.last {
  background: #C00;
  color: #fff;
  border-bottom: 1px solid #ddd; }

#floorNav ul li.hover span {
  background: #c00;
  color: #fff;
  display: block; }

#floorNav ul li.hover span.active {
  background: #c00;
  color: #fff;
  display: block; }

#floorNav ul li span.active {
  background: #fff;
  color: #c00;
  display: block; }

/*# sourceMappingURL=index-main.css.map */
